@using Snai.CMS.Manage.Models.Home

@model IndexModel

<div class="font-size-16">
    <p>您好， @Model.UserName， 欢迎来到 @Model.WebTitle ！</p>
    <p>登录IP: @Model.LastLogonIP，登录时间: @Model.LastLogonTime.ToString("yyyy-MM-dd HH:mm:ss")</p>
</div>
