@model IndexModel

<div class="body-content">
    <div>您好， @Model.UserName， 欢迎来到 @Model.WebTitle ！</div>
    <div>登录IP: @Model.LastLogonIP，登录时间: @Model.LastLogonTime.ToString("yyyy-MM-dd HH:mm:ss")</div>
</div>
