@using Snai.CMS.Manage.Models.Home

@model UpdatePasswordModel

<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-form-mid width-290">
            @Model.UserName
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">原密码</label>
        <div class="layui-input-block width-290">
            <input type="password" id="oldPassword" name="oldPassword" placeholder="请输入原密码" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-inline width-290">
            <input type="password" id="password" name="password" placeholder="请输入新密码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
            密码至少6位，且必须是字母与(数字或特殊符号)组合
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">重复新密码</label>
        <div class="layui-input-block width-290">
            <input type="password" id="rePassword" name="rePassword" placeholder="请重复输入新密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" id="btnSubmit" name="btnSubmit" class="layui-btn">修 改</button>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/js/extensions.js"></script>
    <script src="~/js/utils.js"></script>
    <script src="~/js/updatepassword.js"></script>
}