@using Snai.CMS.Manage.Models.BackManage

@model AdminListModel

<div class="titleSearch">
    <div class="layui-inline">
        <input id="userName" name="userName" placeholder="请输入用户名" class="layui-input" autocomplete="off">
    </div>
    <div class="layui-inline">
        <select id="roleID" name="roleID">
            <option value="0">请选择角色</option>
            @foreach (var role in Model.Roles)
            {
                <option value="@role.ID">@role.Title</option>
            }
        </select>
    </div>
    <button id="btnReload" name="btnReload" class="layui-btn">查询</button>
</div>

<script type="text/html" id="adminToolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="enable">启用</button>
        <button class="layui-btn layui-btn-sm layui-btn-warm" lay-event="disable">禁用</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="unlock">解锁</button>
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">删除</button>
    </div>
</script>

<table id="adminList" lay-filter="adminList"></table>

<script type="text/html" id="adminBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>

@section Scripts{
    <script src="~/js/extensions.js"></script>
    <script src="~/js/utils.js"></script>
    <script src="~/js/adminlist.js"></script>
}

