body {
    font: 14px/1.5 Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}
.logon-content {
    margin: auto;
    width:400px;
}
