body {
    font: 14px/1.5 Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.font-size-16 {
    font-size: 16px;
    line-height: 30px;
    vertical-align: middle;
}

.font-color-normal {
    color: #1e9fff;
}

.font-color-danger {
    color: #ff5722;
}

.border-color-c9 {
    border-color: #C9C9C9 !important;
}

.width-290 {
    width: 290px;
}

.height-30 {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}


.logon-content {
    margin: auto;
    width: 400px;
}

.logon-title {
    margin: 30px 0px 10px 0px;
    height: 64px;
}

.logon-title-logo {
    float: left;
    margin-left: 50px;
    width: 64px;
}

.logon-title-context {
    float: left;
    margin-left: 20px;
    width: 250px;
    font-size: 20px;
    line-height: 64px;
    vertical-align: middle;
}

.layui-form-item .width-150 {
    width: 150px;
}

.logon-content .layui-form-mid {
    padding: 0 !important;
}

.layui-form-item .width-290 {
    width: 290px;
}

